/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Estilos principais para o layout fullscreen */
.fullscreen-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Barra lateral fixa */
.sidebar {
  width: 240px;
  background-color: #333;
  color: #fff;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

.content-area {
  margin-left: 240px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f9;
}
